body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:767px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u15237 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:23px;
  width:712px;
  height:767px;
  display:flex;
}
#u15237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15238 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:36px;
  width:120px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15239 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:75px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15240 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:103px;
  width:146px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15240_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15241 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:133px;
  width:184px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15241 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15241_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15242 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:163px;
  width:238px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15243 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:75px;
  width:173px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15243_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15244 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:103px;
  width:205px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15244_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15245 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:133px;
  width:149px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15246 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:163px;
  width:182px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u15246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15247 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:192px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15247_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15248 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:225px;
  width:682px;
  height:252px;
}
#u15248_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:252px;
  overflow:auto;
}
#u15249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15249 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:484px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15250 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:517px;
  width:682px;
  height:252px;
}
#u15250_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:252px;
  overflow:auto;
}
#u15251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15251 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:807px;
  width:808px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
