body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:805px;
}
#u13639 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:301px;
  width:373px;
  height:805px;
  display:flex;
}
#u13639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13640 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:16px;
  width:357px;
  height:42px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13640_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u13641 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:114px;
  width:828px;
  height:95px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-style:normal;
  font-size:14px;
}
#u13641 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13642 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:68px;
  width:144px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13642 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13642_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13643 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:252px;
  width:192px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13643 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13643_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u13644 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:786px;
  width:618px;
  height:240px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u13644 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:491px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.6078431372549019);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13645 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:336px;
  width:373px;
  height:491px;
  display:flex;
}
#u13645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.6078431372549019);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13646 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1077px;
  width:373px;
  height:29px;
  display:flex;
}
#u13646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:159px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8784313725490196);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13647 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:643px;
  width:368px;
  height:159px;
  display:flex;
}
#u13647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13648 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:650px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13649 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:692px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13650 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:714px;
  width:294px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13651 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:735px;
  width:322px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13651 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13651_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13652 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:769px;
  width:223px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13652 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13652_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13653 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:671px;
  width:308px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13653_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:805px;
}
#u13654 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1128px;
  width:373px;
  height:805px;
  display:flex;
}
#u13654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:282px;
}
#u13655 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1651px;
  width:372px;
  height:282px;
  display:flex;
}
#u13655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:490px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.6078431372549019);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13656 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1161px;
  width:373px;
  height:490px;
  display:flex;
}
#u13656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:177px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8784313725490196);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13657 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:1476px;
  width:368px;
  height:177px;
  display:flex;
}
#u13657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13658 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1483px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13659 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1527px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13660 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1549px;
  width:294px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13660_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13661 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1572px;
  width:322px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13662 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1620px;
  width:279px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13662_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13663 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1504px;
  width:308px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13663_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.6078431372549019);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13664 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1898px;
  width:373px;
  height:29px;
  display:flex;
}
#u13664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u13665 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:1586px;
  width:618px;
  height:272px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u13665 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13666 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:1797px;
  width:31px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13667 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1594px;
  width:266px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13667_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
